[submodule "jhalfs"]
	path = jhalfs
	url = https://github.com/automate-lfs/jhalfs
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "gcc"]
	path = gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "tar"]
	path = tar
	url = https://git.savannah.gnu.org/git/tar.git
[submodule "diffutils"]
	path = diffutils
	url = https://git.savannah.gnu.org/git/diffutils.git
[submodule "findutils"]
	path = findutils
	url = https://git.savannah.gnu.org/git/findutils.git
[submodule "gawk"]
	path = gawk
	url = https://git.savannah.gnu.org/git/gawk.git
[submodule "gzip"]
	path = gzip
	url = https://git.savannah.gnu.org/git/gzip.git
[submodule "make"]
	path = make
	url = https://git.savannah.gnu.org/git/make.git
[submodule "patch"]
	path = patch
	url = https://git.savannah.gnu.org/git/patch.git
[submodule "sed"]
	path = sed
	url = https://git.savannah.gnu.org/git/sed.git
[submodule "coreutils"]
	path = coreutils
	url = https://git.savannah.gnu.org/git/coreutils.git
[submodule "grep"]
	path = grep
	url = https://git.savannah.gnu.org/git/grep.git
[submodule "m4"]
	path = m4
	url = https://git.savannah.gnu.org/git/m4.git
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox/
[submodule "mpc"]
	path = mpc
	url = https://gitlab.inria.fr/mpc/mpc
[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl/
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot
[submodule "grub"]
	path = grub
	url = https://git.savannah.gnu.org/git/grub.git
[submodule "bzip2"]
	path = bzip2
	url = git://sourceware.org/git/bzip2.git
[submodule "sudo"]
	path = sudo
	url = https://github.com/sudo-project/sudo
[submodule "systemd"]
	path = systemd
	url = https://github.com/systemd/systemd
[submodule "openrc"]
	path = openrc
	url = https://github.com/OpenRC/openrc
[submodule "sysvinit"]
	path = sysvinit
	url = https://git.savannah.nongnu.org/git/sysvinit.git
[submodule "sysvinit-insserv"]
	path = sysvinit-insserv
	url = https://git.savannah.nongnu.org/git/sysvinit/insserv.git
[submodule "sysvinit-startpar"]
	path = sysvinit-startpar
	url = https://git.savannah.nongnu.org/git/sysvinit/startpar.git
[submodule "cross-lfs-bootscripts-embedded"]
	path = cross-lfs-bootscripts-embedded
	url = https://github.com/cross-lfs/bootscripts-embedded
[submodule "barebox"]
	path = barebox
	url = git://git.pengutronix.de/barebox
[submodule "openssh-portable"]
	path = openssh-portable
	url = https://github.com/openssh/openssh-portable
[submodule "glibc"]
	path = glibc
	url = git://sourceware.org/git/glibc.git
[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
[submodule "raspberrypi-userland"]
	path = raspberrypi-userland
	url = https://github.com/raspberrypi/userland
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "eudev"]
	path = eudev
	url = https://gitweb.gentoo.org/proj/eudev.git
[submodule "apt"]
	path = apt
	url = https://salsa.debian.org/apt-team/apt
[submodule "rpm"]
	path = rpm
	url = https://github.com/rpm-software-management/rpm
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "dpkg"]
	path = dpkg
	url = https://git.dpkg.org/cgit/dpkg/dpkg.git
[submodule "cmake"]
	path = cmake
	url = https://gitlab.kitware.com/cmake/cmake
[submodule "libreoffice-core"]
	path = libreoffice-core
	url = https://git.libreoffice.org/core
[submodule "poppler-libpdftool"]
	path = poppler-libpdftool
	url = https://github.com/freedesktop/poppler
[submodule "ruby"]
	path = ruby
	url = https://github.com/ruby/ruby
[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython
[submodule "ruby-rake"]
	path = ruby-rake
	url = https://github.com/ruby/rake
[submodule "wine"]
	path = wine
	url = git://source.winehq.org/git/wine.git
[submodule "php-src"]
	path = php-src
	url = https://github.com/php/php-src
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl
[submodule "wolfssl"]
	path = wolfssl
	url = https://github.com/wolfSSL/wolfssl
[submodule "dbus"]
	path = dbus
	url = https://github.com/freedesktop/dbus
[submodule "NetworkManager"]
	path = NetworkManager
	url = https://gitlab.freedesktop.org/NetworkManager/NetworkManager.git
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat
[submodule "libarchive"]
	path = libarchive
	url = https://github.com/libarchive/libarchive
[submodule "gpgme"]
	path = gpgme
	url = https://dev.gnupg.org/source/gpgme.git
[submodule "libassuan"]
	path = libassuan
	url = https://github.com/gpg/libassuan
[submodule "libgpg-error"]
	path = libgpg-error
	url = https://github.com/gpg/libgpg-error
[submodule "pacman"]
	path = pacman
	url = https://git.archlinux.org/pacman.git
[submodule "dropbear"]
	path = dropbear
	url = https://github.com/mkj/dropbear
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "udev-gentoo-scripts"]
	path = udev-gentoo-scripts
	url = https://gitweb.gentoo.org/proj/udev-gentoo-scripts.git/
[submodule "rust-lang-cargo"]
	path = rust-lang-cargo
	url = https://github.com/rust-lang/cargo
[submodule "rust-lang-libc"]
	path = rust-lang-libc
	url = https://github.com/rust-lang/libc
[submodule "rust-lang-rustup"]
	path = rust-lang-rustup
	url = https://github.com/rust-lang/rustup
[submodule "rust-lang"]
	path = rust-lang
	url = https://github.com/rust-lang/rust
[submodule "ninja-build"]
	path = ninja-build
	url = https://github.com/ninja-build/ninja
[submodule "git"]
	path = git
	url = https://github.com/git/git
[submodule "pkg-config"]
	path = pkg-config
	url = https://gitlab.freedesktop.org/pkg-config/pkg-config
[submodule "rust-lang-coreutils_alternatives/bat"]
	path = rust-lang-coreutils_alternatives/bat
	url = https://github.com/sharkdp/bat
[submodule "rust-lang-coreutils_alternatives/exa"]
	path = rust-lang-coreutils_alternatives/exa
	url = https://github.com/ogham/exa
[submodule "rust-lang-coreutils_alternatives/fd"]
	path = rust-lang-coreutils_alternatives/fd
	url = https://github.com/sharkdp/fd
[submodule "rust-lang-coreutils_alternatives/procs"]
	path = rust-lang-coreutils_alternatives/procs
	url = https://github.com/dalance/procs
[submodule "rust-lang-coreutils_alternatives/sd"]
	path = rust-lang-coreutils_alternatives/sd
	url = https://github.com/chmln/sd
[submodule "rust-lang-coreutils_alternatives/dust"]
	path = rust-lang-coreutils_alternatives/dust
	url = https://github.com/bootandy/dust
[submodule "rust-lang-coreutils_alternatives/ripgrep"]
	path = rust-lang-coreutils_alternatives/ripgrep
	url = https://github.com/BurntSushi/ripgrep
[submodule "rust-lang-coreutils_alternatives/tokei"]
	path = rust-lang-coreutils_alternatives/tokei
	url = https://github.com/XAMPPRocky/tokei
[submodule "rust-lang-coreutils_alternatives/hyperfine"]
	path = rust-lang-coreutils_alternatives/hyperfine
	url = https://github.com/sharkdp/hyperfine
[submodule "rust-lang-coreutils_alternatives/ytop"]
	path = rust-lang-coreutils_alternatives/ytop
	url = https://github.com/cjbassi/ytop
[submodule "rust-lang-coreutils_alternatives/tealdeer"]
	path = rust-lang-coreutils_alternatives/tealdeer
	url = https://github.com/dbrgn/tealdeer
[submodule "rust-lang-coreutils_alternatives/bandwhich"]
	path = rust-lang-coreutils_alternatives/bandwhich
	url = https://github.com/imsnif/bandwhich
[submodule "rust-lang-coreutils_alternatives/grex"]
	path = rust-lang-coreutils_alternatives/grex
	url = https://github.com/pemistahl/grex
[submodule "rust-lang-coreutils_alternatives/rmesg"]
	path = rust-lang-coreutils_alternatives/rmesg
	url = https://github.com/polyverse/rmesg/
[submodule "rust-lang-coreutils_alternatives/zoxide"]
	path = rust-lang-coreutils_alternatives/zoxide
	url = https://github.com/ajeetdsouza/zoxide
[submodule "rust-lang-coreutils_alternatives/nushell"]
	path = rust-lang-coreutils_alternatives/nushell
	url = https://github.com/nushell/nushell
[submodule "podman"]
	path = podman
	url = https://github.com/containers/podman
[submodule "gnulib"]
	path = gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
[submodule "iptables"]
	path = iptables
	url = git://git.netfilter.org/iptables
[submodule "arptables"]
	path = arptables
	url = git://git.netfilter.org/arptables
[submodule "nftables"]
	path = nftables
	url = git://git.netfilter.org/nftables
[submodule "libnftnl"]
	path = libnftnl
	url = git://git.netfilter.org/libnftnl
[submodule "ipset"]
	path = ipset
	url = git://git.netfilter.org/ipset
[submodule "iputils"]
	path = iputils
	url = git://github.com/iputils/iputils
[submodule "iproute2"]
	path = iproute2
	url = git://git.kernel.org/pub/scm/network/iproute2/iproute2.git
[submodule "neovim"]
	path = neovim
	url = git://github.com/neovim/neovim
[submodule "vim"]
	path = vim
	url = git://github.com/vim/vim
[submodule "dnf"]
	path = dnf
	url = https://github.com/rpm-software-management/dnf
[submodule "portage"]
	path = portage
	url = https://anongit.gentoo.org/git/proj/portage.git
[submodule "wireless-tools"]
	path = wireless-tools
	url = https://github.com/HewlettPackard/wireless-tools
[submodule "wget"]
	path = wget
	url = https://git.savannah.gnu.org/git/wget.git
[submodule "podman-compose"]
	path = podman-compose
	url = git://github.com/containers/podman-compose
[submodule "fuse-overlayfs"]
	path = fuse-overlayfs
	url = git://github.com/containers/fuse-overlayfs
[submodule "containers-conmon"]
	path = containers-conmon
	url = git://github.com/containers/conmon
[submodule "c-runc"]
	path = c-runc
	url = git://github.com/containers/crun
[submodule "opencontainers-runc"]
	path = opencontainers-runc
	url = git://github.com/opencontainers/runc
[submodule "containernetworking-plugins"]
	path = containernetworking-plugins
	url = git://github.com/containernetworking/plugins
[submodule "containers-common"]
	path = containers-common
	url = git://github.com/containers/common
[submodule "lvm2-device_mapper"]
	path = lvm2-device_mapper
	url = git://sourceware.org/git/lvm2.git
[submodule "libseccomp"]
	path = libseccomp
	url = git://github.com/seccomp/libseccomp
[submodule "slirp4netns"]
	path = slirp4netns
	url = git://github.com/rootless-containers/slirp4netns
[submodule "cgroups"]
	path = cgroups
	url = git://github.com/containerd/cgroups
[submodule "bind9"]
	path = bind9
	url = https://gitlab.isc.org/isc-projects/bind9.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/nginx/nginx.git
[submodule "apache-httpd"]
	path = apache-httpd
	url = https://github.com/apache/httpd.git
[submodule "lighttpd1.4"]
	path = lighttpd1.4
	url = https://github.com/lighttpd/lighttpd1.4.git
[submodule "file"]
	path = file
	url = https://github.com/file/file
[submodule "tesseract-optical_character_recognition"]
	path = tesseract-optical_character_recognition
	url = https://github.com/tesseract-ocr/tesseract
[submodule "box86"]
	path = box86
	url = https://github.com/ptitSeb/box86
[submodule "onionshare"]
	path = onionshare
	url = https://github.com/micahflee/onionshare
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/QEMU
[submodule "qemu-uboot"]
	path = qemu-uboot
	url = https://github.com/qemu/u-boot
[submodule "qemu-opensbi"]
	path = qemu-opensbi
	url = https://github.com/qemu/opensbi
[submodule "qemu-skiboot"]
	path = qemu-skiboot
	url = https://github.com/qemu/skiboot
[submodule "qemu-seabios"]
	path = qemu-seabios
	url = https://github.com/qemu/seabios
[submodule "qemu-openbios"]
	path = qemu-openbios
	url = https://github.com/qemu/openbios
[submodule "qemu-qboot"]
	path = qemu-qboot
	url = https://github.com/qemu/qboot
[submodule "qemu-sgabios"]
	path = qemu-sgabios
	url = https://github.com/qemu/sgabios
[submodule "skiboot"]
	path = skiboot
	url = https://github.com/open-power/skiboot
[submodule "vlc"]
	path = vlc
	url = https://github.com/videolan/vlc
[submodule "youtube-dl"]
	path = youtube-dl
	url = https://github.com/ytdl-org/youtube-dl
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "emacs"]
	path = emacs
	url = git://git.sv.gnu.org/emacs.git
[submodule "wicd"]
	path = wicd
	url = https://git.launchpad.net/wicd
[submodule "ethtool"]
	path = ethtool
	url = https://git.kernel.org/pub/scm/network/ethtool/ethtool.git
[submodule "cryptsetup"]
	path = cryptsetup
	url = https://gitlab.com/cryptsetup/cryptsetup
[submodule "gnupg"]
	path = gnupg
	url = https://dev.gnupg.org/source/gnupg.git
[submodule "gnutls"]
	path = gnutls
	url = https://gitlab.com/gnutls/gnutls/
[submodule "linux-pam"]
	path = linux-pam
	url = https://github.com/linux-pam/linux-pam
[submodule "liboauth"]
	path = liboauth
	url = https://github.com/x42/liboauth
[submodule "kerberos-krb5"]
	path = kerberos-krb5
	url = https://github.com/krb5/krb5
[submodule "nettle"]
	path = nettle
	url = https://git.lysator.liu.se/nettle/nettle
[submodule "nss"]
	path = nss
	url = https://github.com/nss-dev/nss
[submodule "p11-kit"]
	path = p11-kit
	url = https://github.com/p11-glue/p11-kit
[submodule "polkit"]
	path = polkit
	url = https://gitlab.freedesktop.org/polkit/polkit/
[submodule "shadow"]
	path = shadow
	url = https://github.com/shadow-maint/shadow
[submodule "tripwire-open-source"]
	path = tripwire-open-source
	url = https://github.com/Tripwire/tripwire-open-source
[submodule "volume_key"]
	path = volume_key
	url = https://pagure.io/volume_key
